@font-face {
    font-family: Telegraf Regular;
    src: url(Telegraf\ Regular\ 400.otf);
}

@font-face {
    font-family: Telegraf UltraBold;
    src: url(Telegraf\ UltraBold\ 800.otf);
}


* {
    font-family: Telegraf Regular;
}

body {
    background: #F3F1F5;
    text-align: center;
}

.container {
    background: white;
    border-radius: 25px;
    align-items: center;
    margin: 3vw;
    /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

h1 {
    padding-top: 30px;
    font-family: Telegraf UltraBold;
    font-size: 50px;
}

.grid-container {
    display: grid;
    row-gap: 0;
}

input[type=number] {
    border-style: solid;
    width: auto;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 10px;
    font-size: 30px;
    border-color: #F3F1F5;
    box-sizing: border-box;
}

input[type=number]:focus {
    outline:2px solid #69F0AE;
}

.calculate button {
    padding: 5px 70px;
    outline: none;
    margin-top: 40px;  
    background-color: #69F0AE; 
    border-style: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.8s; 
    cursor: pointer;
}

.calculate button:hover {       
    background-color: #00E676;
}

.finalval{
    margin: 20px;
    padding-bottom: 8px;
    font-size: 25px;
}

h4 {
    color: black;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #536DFE;
}

@media only screen and (min-width: 300px) and (max-width: 515px) {
    .grid-container input[type=number] {
        width: 80%;
    }

    .container {
        margin-bottom: 40px;
    }

}